<div class="row">
  <div class="col-12">
    <h2 class="font-weight-bold">{{ profileData?.name }}'s Profile</h2>
  </div>
</div>

<div class="row">
  <!-- LEFT SECTION -->
  <div class="col">
    <!-- AVATAR -->
    <div class="row">
      <div class="col">
        <img
          src="{{ profileData?.avatar_url }}"
          alt=""
          width="100%"
          class="img-round"
        />
      </div>
    </div>
    <!-- BUTTON REPO -->
    <div class="row pt-3 pb-3">
      <div class="col">
        <button
          type="button"
          class="btn btn-primary btn-block"
          (click)="gs.navigateTo('/repos')"
        >
          My Repository
        </button>
      </div>
    </div>
    <!-- BUTTON BACK -->
    <div class="row pb-3">
      <div class="col">
        <button
          type="button"
          class="btn btn-primary btn-block"
          (click)="gs.navigateTo('/')"
        >
          Back
        </button>
      </div>
    </div>
  </div>

  <!-- RIGHT SECTION -->
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
    <div class="form-group">
      <h5 class="fon-weight-bold">Bio</h5>
      <p>{{ profileData?.bio }}</p>
    </div>
    <div class="form-group">
      <h5 class="fon-weight-bold">Blog</h5>
      <p>{{ profileData?.blog }}<span *ngIf="!profileData.blog">-</span></p>
    </div>
    <div class="form-group">
      <h5 class="fon-weight-bold">E-mail</h5>
      <p>{{ profileData?.email }}<span *ngIf="!profileData.email">-</span></p>
    </div>
    <div class="form-group">
      <h5 class="fon-weight-bold">Location</h5>
      <p>{{ profileData?.location }}</p>
    </div>
    <div class="form-group">
      <h5 class="fon-weight-bold">Since</h5>
      <p>{{ profileData?.created_at | date: "fullDate" }}</p>
    </div>
  </div>
</div>
