<div class="row tobe-mid justify-content-center">
  <div class="col">
    <div
      class="row justify-content-center"
      [ngStyle]="{ 'padding-top': !currentSearch ? '40vh' : '' }"
    >
      <div class="col">
        <form [formGroup]="fg" (submit)="submitUser()">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label>Github Username</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Github username"
                    formControlName="username"
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-primary"
                      type="submit"
                      [disabled]="submitted || fg.invalid"
                    >
                      <span *ngIf="!submitted">Search</span
                      ><span *ngIf="submitted"
                        ><app-spinner [color]="'white'"></app-spinner
                      ></span>
                    </button>
                  </div>
                </div>
                <small
                  class="form-text text-danger"
                  *ngIf="fg.get('username').errors && submitted"
                >
                  {{ fg.controls.username.errors?.required?.message }}
                </small>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row justify-content-center mt-3" *ngIf="currentSearch">
      <div class="col">
        <div class="row tobe-mid justify-content-center">
          <div class="col">
            <label>Last visited profile</label>
          </div>
          <div class="col-2 text-right">
            <button class="btn" type="button" (click)="clearCurrentUser()">
              <i class="fas fa-times text-dark"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card">
          <img
            class="card-img-top"
            src="{{ currentSearch?.avatar_url }}"
            alt="avatar_image"
          />
          <div class="card-body">
            <h5 class="card-title">{{ currentSearch?.name }}</h5>
            <p class="card-text">{{ currentSearch?.bio }}</p>
            <button
              type="button"
              class="btn btn-primary"
              (click)="gs.navigateTo('/profile')"
            >
              Re-visit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
